{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>О проекте:</h2>
      <h4>Проект создан при поддержке Академии Яндекса и Paul K.</h4>
      <h4>Создатель: Безруков Григорий Александрович</h4>
      <h4>Цель проекта:</h4>
      <p>Целью проекта служит обучение фреймворку Django</p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <img
        src="{% static 'img/cat_about.jpg' %}"
        alt="Cat"
        style="width: 60%"
      >
    </div>
  </div>
</div>

{% endblock %}
