<div class="card mb-3" id="item_list_card">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{item.photo.get_img.url}}"
        class="img-fluid rounded-start"
        alt="{{item.id}}"
      >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        {{item.text|safe|truncatewords:10}}
        <p class="card-text">
          <small
            >Теги: 
            {% for tag in item.tags.all %}
              {% if forloop.last %}
                #{{tag.name}}
              {% else %}
              #{{tag.name}}
              {% endif %}
            {% endfor %}
          </small>
        </p>
        {% with request.resolver_match.view_name as view_name %}
          {% if view_name == 'homepage:home' %}
            <p class="card-text">
              <small> Категория: {{item.category.name}} </small>
            </p>
          {% endif %}
        {% endwith%}
        <a
          href="{% url 'catalog:item_detail' item.id %}"
          class="btn btn-dark"
          >К товару</a
        >
      </div>
    </div>
  </div>
</div>
