{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h4>{{ user_info.username }}</h4>
  </div>
  <div class="card-body">

    <h5 class="card-title">Информация</h5>

    <p class="card-text">Почта: {{ user_info.email }}</p>
    
    <p class="card-text">
      День рождения: 
      {% if "{{ user_info.birthday }}" is not None %}
        {{ user_info.birthday }}
      {% else %}
        не указан
      {% endif %}
    </p>

    <p class="card-text">
      Право доступа: 
      {% if user_info.is_superuser %}
        Админ
      {% elif user_info.is_staff %}
        Сотрудник
      {% else %}
        Клиент
      {% endif %}
    </p>

    {% if "{{ user_info.first_name }}" is not None %}
      <p class="card-text">Имя: {{ user_info.first_name }}</p>
    {% endif %}

    {% if "{{ user_info.last_name }}" is not None %}
      <p class="card-text">Фамилия: {{ user_info.last_name }}</p>
    {% endif %}

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modal-cart"
    >
      Редактировать профиль
    </button>
    <a href="{% url 'auth:password_change' %}" class="btn btn-primary">Изменить пароль</a>
    <div
      class="modal fade"
      id="modal-cart"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header bg-secondary text-white">
            <h5 class="modal-title" id="exampleModalLabel">
              Редактирование профиля
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              {% include "users/includes/form.html" %}
              {% endfor %}
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="{% static 'img/sad_cat.jpg' %}" alt="user" style="width: 30%" />
{% endblock %}
