{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Маруся</title>
    <meta name="msapplication-TileColor" content="#da532c" >
    <meta name="theme-color" content="#ffffff" >
    <meta charset="utf-8">
    <link
    rel="stylesheet"
    href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    >
    <script src="{% static 'style/script.js' %}"></script>
    {% comment %} <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-touch-icon.png' %}"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.png' %}"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.png' %}"
    >
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
  </head>
  <body>
    {% include "includes/header.html" %}
      <main style="margin-left: 50px">{% block content %}Контент не подвезли{% endblock %}</main>
    {% include "includes/footer.html" %}
  </body>
</html>
