{% load static %}

<div class="container">
  {% with request.resolver_match.view_name as view_name %}
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <img src="{% static 'logo/main_logo.png' %}" alt="Cat" id="header_logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
            <li class="nav-item">
              <a 
                class="{% if view_name == 'homepage:home' %}nav-link disabled{% else %}nav-link{% endif %}"
                href="{% url 'homepage:home' %}"
              >Главная</a>
            </li>
            
            <li class="nav-item">
              <a
               class="{% if view_name == 'catalog:item_list' %}nav-link disabled{% else %}nav-link{% endif %}"
               href="{% url 'catalog:item_list' %}"
              >Список товаров</a>
            </li>
            <li class="nav-item">
              <a
               class="{% if view_name == 'about:description' %}nav-link disabled{% else %}nav-link{% endif %}"
               href="{% url 'about:description' %}"
              >О проекте</a>
            </li>
            <li class="nav-item">
              <a
               class="{% if view_name == 'feedback:feedback' %}nav-link disabled{% else %}nav-link{% endif %}"
               href="{% url 'feedback:feedback' %}"
              >Обратная связь</a>
            </li>
          </ul>
          <ul class="navbar-nav col-md-6 text-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><img src="{% static 'img/user.png' %}" alt="user" id="user_img"></a>
               <ul class="dropdown-menu" id="header_dropdown">
                {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'users:profile' %}">Мой профиль</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:user_list' %}">Профили</a></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'auth:logout' %}">
                      Выйти   
                      <img src="{% static 'img/logout.png' %}" alt="user" id="img_logout">
                    </a>
                  </li>
                {% else %}
                  <li><a class="dropdown-item" href="{% url 'auth:login' %}">Авторизация</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:signup' %}">Регистрация</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% endwith %}
</div>
