{% load static %}
<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-0 border-bottom"
>
<img
    src="{% static 'logo/main_logo.jpg' %}"
    alt="Cat"
    style="width: 3%">
  {% with request.resolver_match.view_name as view_name %}
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <svg
      class="bi me-2"
      width="40"
      height="32"
      role="img"
      aria-label="Bootstrap"
    >
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        href="{% url 'homepage:home' %}"
        class="{% if view_name == 'homepage:home' %}nav-link disabled{% else %}nav-link{% endif %}"
        aria-current="page"
        >Главная</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'catalog:item_list' %}"
        class="{% if view_name == 'catalog:item_list' %}nav-link disabled{% else %}nav-link{% endif %}"
        >Список товаров</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'about:description' %}"
        class="{% if view_name == 'about:description' %}nav-link disabled{% else %}nav-link{% endif %}"
        >О проекте</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'feedback:feedback' %}"
        class="{% if view_name == 'feedback:feedback' %}nav-link disabled{% else %}nav-link{% endif %}"
        >Обратная связь</a
      >
    </li>
  </ul>
  {% endwith %}
</header>
