<div class="container">
  <div class="row">
    {% for user in users %}
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="margin: 10px; background-color: #ddd7d2; color: #000;">
      <div class="toast-header" style="background-color: #ddd7d2; color: #000;">
        <strong class="me-auto">
          Сегодня день рождение у {{ user.email }}
          {% if user.first_name %}
            {{ user.first_name }}
          {% endif %}
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>