{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-lg-3 col-md-4 col-6">
    <img
      class="img_item_detail"
      src="{{ item.photo.get_img.url }}"
      alt="{{item.id}}"
    >
  </div>
  <div class="col-lg-2 col-md-3 col-5">{{item.text|safe}}</div>
  <div class="col-lg-2 col-md-3 col-4">
    <ul class="list-group">
      <li class="list-group-item" id="category_detail" aria-current="true">{{item.category.name}}</li>
      {% for tag in item.tags.all %}
        <li class="list-group-item">{{tag.name}}</li>
      {% endfor %}
      <li class="list-group-item">
        <a href="{% url 'catalog:item_list' %}" class="btn btn-dark">К списку товаров</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-3 col-4">
  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button
        type="submit"
        class="btn btn-dark"
        >Оценить
      </button>
    </form>
  {% endif %}
    <h4><span class="badge" id="statistic">
      Средння оценка: 
      {% if stat.rate__avg %}
        {{ stat.rate__avg }}
      {% else %}
        -
      {% endif %}
    </span></h4>
    <h4><span class="badge" id="statistic">Кол-во оценок: {{ stat.rate__count }}</span></h4>
  </div>
</div>

{% endblock %}
