{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid bg-1 text-center">
  <h3>Зоомагазин</h3>
  <img
    src="{% static 'img/cat.jpg' %}"
    class="img-circle"
    alt="Cat"
    width="350"
    height="350">
  <h3>Это моя кошка, её зовут Маруся</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>Трудный характер</h3>
  <p>Маруся постоянно будит меня, чтобы я насыпал ей корма</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Очень умная</h3>
  <p>Всегда ходит в туалетик</p>
  <p>А если закрыт, то кричит во все горло</p>
</div>
<div class="container-fluid bg-4 text-center">
  <h3>Цитата</h3>
  <p>"Мяу"</p>
</div>
{% endblock %}
